.c-application {
    height: 100%;
    $padding: 10px;
    display: flex;
    flex-direction: column;
 
    &__content {
        flex: 1;
        padding: $padding;
        overflow: auto;
    }  
    &__footer {
        display: flex;
        justify-content: center;
    }

    app-image {
        cursor: pointer;
    }
}
