:host {
    display: block;
    width: 100%;
}
.c-toolbar {


    font-size: 14px;
    &__rating-select,
    &__column-count-select,
    &__image-type-select {
        font-weight: normal;
        font-size: 14px;
        border-radius: 4px;
        padding: 4px;
        color: black;
        width: 100px;
        margin-right: 10px;
        background-color: white;
    }

    h1 {
        font-size: 24px;
        padding-right: 16px;
    }

    .label {
        padding-right: 4px;
    }

    .spacer {
        flex: 1 1 auto;
    }
}