@import '../../../variables.scss';

:host {
    display: inline-block;
}

.c-search {
    font-size: 14px;
    border-radius: $border-radius;
    display:  flex;
    height: 40px;
    border: solid 1px $border-color;

    &:hover {
        border-color: gray;
    }

    &__input {
        border:none;
        outline: none;
        flex-grow: 1;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
    }
    &__button {
        cursor: pointer;
        width: 37px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }

    &__input {
        padding: 8px 0 8px 16px;
        width: 210px;
    }    

}